@import 'components/main-component/main-component.css';
@import 'components/series-component/series-component.css';
@import 'components/episode-component/episode-component.css';

@import '~bootstrap/dist/css/bootstrap.min.css';

html {
  height: 100%;
}

.height--100 {
    height: 100%;
}

ul {
  list-style-type: none;
}