@import 'components/section-component/section-component.css';

html {
  height: 100%;
}

.height--100 {
    height: 100%;
}

.section {
    display: inline-block;
    width: 33%;
    height: 100%;
    background-color: #00e7ff38;
    border: 2px solid black;
    box-sizing: border-box;
}
