.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section {
    display: inline-block;
    flex: 1 1 33%;
    height: 100%;
    background-color: #00e7ff38;
    border: 2px solid black;
    box-sizing: border-box;
}

.title {

    text-align: center;
}

@media (max-width: 960px) {

    .section {
        flex: 1 1 50%;
    }

    .episode-section{
        display: block;
    }
}
