.container {
    display: flex;
    flex-direction: row;
}

.section {
    display: inline-block;
    max-width: 33%;
    flex: 1 1 auto;
    height: 100%;
    background-color: #00e7ff38;
    border: 2px solid black;
    box-sizing: border-box;
}

.title {

    text-align: center;
}
